/* ---------------- Hamish's Template ---------------- */
/* ---------------- SCSS Variables ---------------- */
/* Colours */
/* Contrasting Typefaces */
/* ---------------- General Styles ---------------- */
body {
  background: grey;
  background-image: url("../img/baseline-grid.png");
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Avenir", arial, sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin: 1em 0; }

p {
  font-family: "Times", Times New Roman, serif; }

.it {
  font-style: italic; }

.bold {
  font-style: bold; }

hr {
  border: 1px solid white;
  border-top: none;
  margin: 0; }

/* links */
a:link, a:visited {
  color: orange;
  text-decoration: none; }

a:hover {
  color: white; }

/* images */
img {
  width: 100%;
  height: 10em;
  background: white;
  margin: 1.5em 0; }

/* ---------------- Navigation ---------------- */
ul {
  font-family: "Avenir", arial, sans-serif; }

ul li ul li {
  margin: 0 0 0 5em; }

.menu-show {
  display: none; }

/* ---------------- Layout ---------------- */
#container {
  margin: 6px auto 0 auto;
  width: 600px; }
