/* ---------------- Hamish's Template ---------------- */

/* ---------------- SCSS Variables ---------------- */

/* Colours */

$background-colour:white;
$foreground-colour:#777;
$focus-colour:orange;

/* Contrasting Typefaces */

$primary-fonts:"Helvetica", arial, sans-serif;
$secondary-fonts: "Times", Times New Roman, serif;

/* ---------------- General Styles ---------------- */

body {
  background: $background-colour;
  background-image: url('../img/baseline-grid.png');
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color:$foreground-colour; 
  }
  
h1, h2, h3, h4, h5, h6 {
  font-family: $primary-fonts; 
  font-size:2em; 
  font-weight: normal;
  margin: 1em 0;
  }

p {
  font-family: $secondary-fonts; 
  }
  
.it {
	font-style: italic;
}

.bold {
	font-style: bold;
}
  
hr {
	border: 1px solid $foreground-colour;
	border-top: none;
}
  
/* links */

a:link, a:visited {
	color: $focus-colour;
	text-decoration: none;
}

a:hover {
	color: $foreground-colour;
}

/* images */

img {
	width: 100%;
	height: auto;
	background: $foreground-colour;
	margin: 0.5em;
}
  
/* ---------------- Navigation ---------------- */

ul { }

ul li ul li { margin: 0 0 0 5em; }

/* ---------------- Layout ---------------- */

#container {
  margin: 0 auto; 
  }
  


