/* ---------------- Hamish's Template ---------------- */

/* ---------------- SCSS Variables ---------------- */

/* Colours */

$background-colour:grey;
$foreground-colour:white;
$focus-colour:orange;

/* Contrasting Typefaces */

$primary-fonts:"Avenir", arial, sans-serif;
$secondary-fonts: "Times", Times New Roman, serif;

/* ---------------- General Styles ---------------- */

body {
  background: $background-colour;
  background-image: url('../img/baseline-grid.png');
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color:$foreground-colour; 
  }
  
h1, h2, h3, h4, h5, h6 {
  font-family: $primary-fonts; 
  font-size:2em; 
  font-weight: normal;
  margin: 1em 0;
  }

p {
  font-family: $secondary-fonts; 
  }
  
.it {
	font-style: italic;
}

.bold {
	font-style: bold;
}
  
hr {
	border: 1px solid $foreground-colour;
	border-top: none;
	margin: 0;
}
  
/* links */

a:link, a:visited {
	color: $focus-colour;
	text-decoration: none;
}

a:hover {
	color: $foreground-colour;
}

/* images */

img {
	width: 100%;
	height: 10em;
	background: $foreground-colour;
	margin: 1.5em 0;
}
  
/* ---------------- Navigation ---------------- */

ul { font-family: $primary-fonts;}

ul li ul li { margin: 0 0 0 5em; }

/* icon for hideable menu */

span.menu {
  font-size: 1em;
}

/* icon for hideable menu */

.menu-show {
  display:none;
}

/* ---------------- Layout ---------------- */

#container {
  	margin: 6px auto 0 auto;
  	width: 600px;
  }
  


